In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

In [4]:
df

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369
...,...,...,...,...,...,...,...,...,...,...,...
9699,140,5.0,164.0,2981.107371,17.3,2013,Europe,Diesel,Front-wheel drive,NaN,15.101802
9700,180,NaN,154.0,2439.525729,15.0,2004,USA,Gasoline,All-wheel drive,0.0,17.962326
9701,220,2.0,138.0,2583.471318,15.1,2008,USA,Diesel,All-wheel drive,-1.0,17.186587
9702,230,4.0,177.0,2905.527390,19.4,2011,USA,Diesel,Front-wheel drive,1.0,15.331551
9703,270,3.0,140.0,2908.043477,14.7,2005,Asia,Diesel,All-wheel drive,-1.0,14.884467

In [5]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [7]:
pd.__version__

'2.3.1'

In [9]:
df['fuel_type']

0       Gasoline
1       Gasoline
2       Gasoline
3         Diesel
4       Gasoline
          ...
9699      Diesel
9700    Gasoline
9701      Diesel
9702      Diesel
9703      Diesel
Name: fuel_type, Length: 9704, dtype: object

In [10]:
df.isnull().sum().sum()

np.int64(2622)

In [11]:
# Number of columns with missing values
num_missing_columns = df.isnull().any().sum()
print("Columns with missing values:", num_missing_columns)

# To display names of columns with missing values
missing_columns_list = df.columns[df.isnull().any()]
print("Names:", missing_columns_list)

# Maximum fuel efficiency for cars from Asia
max_fuel_efficiency_asia = df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max()
print("Max fuel efficiency (Asia):", max_fuel_efficiency_asia)

Columns with missing values: 4
Names: Index(['num_cylinders', 'horsepower', 'acceleration', 'num_doors'], dtype='object')
Max fuel efficiency (Asia): 23.759122836520497

In [12]:
median_horsepower = df['horsepower'].median()
print("Median horsepower:", median_horsepower)

Median horsepower: 149.0

In [13]:
mode_horsepower = df['horsepower'].mode()
print("Most frequent horsepower value:", mode_horsepower.values)

Most frequent horsepower value: [152.]

In [14]:
# Assuming mode_horsepower contains the most frequent value(s)
most_frequent_value = mode_horsepower.values[0]

# Fill missing values in 'horsepower' column
df['horsepower'] = df['horsepower'].fillna(most_frequent_value)

In [15]:
median_horsepower_filled = df['horsepower'].median()
print("Median horsepower after filling:", median_horsepower_filled)

Median horsepower after filling: 152.0

In [16]:
# Q1: Find the median value of the horsepower column (before filling)
median_before = df['horsepower'].median()
print("Q1. Median before filling:", median_before)

# Q2: Find the most frequent (mode) value of the horsepower column
mode_value = df['horsepower'].mode()[0]
print("Q2. Most frequent (mode) horsepower value:", mode_value)

# Q3: Use fillna to fill missing values in horsepower with the mode
df['horsepower'] = df['horsepower'].fillna(mode_value)

# Q4: Find the median value of the horsepower column (after filling)
median_after = df['horsepower'].median()
print("Q4. Median after filling:", median_after)

# Did the median change? If so, how?
if median_after > median_before:
    print("Has it changed? Yes, it increased")
elif median_after < median_before:
    print("Has it changed? Yes, it decreased")
else:
    print("Has it changed? No")

Q1. Median before filling: 152.0
Q2. Most frequent (mode) horsepower value: 152.0
Q4. Median after filling: 152.0
Has it changed? No

In [17]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,152.0,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [18]:
# Step 1: Count number of records (rows) in dataset
record_count = len(df)
print(record_count)

9704

In [19]:
# Step 1: Count distinct fuel types
fuel_types_count = df['fuel_type'].nunique()
print(fuel_types_count)

2

In [20]:
# Step 1: Count columns with missing values
missing_columns = df.isnull().sum()
cols_with_missing = (missing_columns > 0).sum()
print(cols_with_missing)

3

In [21]:
# Step 1: Filter Asia cars
asia_cars = df[df['origin'] == 'Asia']

# Step 2: Find max fuel efficiency
max_efficiency_asia = asia_cars['fuel_efficiency_mpg'].max()
print(max_efficiency_asia)

23.759122836520497

In [22]:
# Step 1: Original median
median_hp_before = df['horsepower'].median()
print("Original median:", median_hp_before)

# Step 2: Most frequent value (mode)
most_freq_hp = df['horsepower'].mode()[0]
print("Most frequent:", most_freq_hp)

# Step 3: Fill NaN with most frequent
df['horsepower'] = df['horsepower'].fillna(most_freq_hp)

# Step 4: Median after filling
median_hp_after = df['horsepower'].median()
print("New median:", median_hp_after)

# Step 5: Compare
if median_hp_after > median_hp_before:
    print("Yes, it increased")
elif median_hp_after < median_hp_before:
    print("Yes, it decreased")
else:
    print("No")

Original median: 152.0
Most frequent: 152.0
New median: 152.0
No

In [23]:
import numpy as np

# Step 1: Select Asia cars
asia_cars = df[df['origin'] == 'Asia']

# Step 2: Select vehicle_weight and model_year
subset = asia_cars[['vehicle_weight', 'model_year']]

# Step 3: First 7 values
subset_7 = subset.head(7)

# Step 4: Get NumPy array X
X = subset_7.to_numpy()

# Step 5: Compute XTX
XTX = X.T.dot(X)

# Step 6: Invert XTX
XTX_inv = np.linalg.inv(XTX)

# Step 7: Create array y
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

# Step 8: Compute w
w = XTX_inv.dot(X.T).dot(y)

# Step 9: Sum elements of w
result_sum = w.sum()
print(result_sum)

0.5187709081074016

In [24]:
# Step 1: Original median of horsepower
median_hp_before = df['horsepower'].median()
print("Original median:", median_hp_before)

Original median: 152.0

In [25]:
# Step 2: Most frequent value (mode) of horsepower
most_freq_hp = df['horsepower'].mode()[0]
print("Most frequent horsepower:", most_freq_hp)

Most frequent horsepower: 152.0

In [26]:
# Step 3: Fill missing values in horsepower with the most frequent value
df['horsepower'] = df['horsepower'].fillna(most_freq_hp)

In [27]:
# Step 4: Median after filling missing values
median_hp_after = df['horsepower'].median()
print("New median:", median_hp_after)

New median: 152.0

In [28]:
asia_cars = df[df['origin'] == 'Asia']
asia_cars.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
8,250,1.0,174.0,2714.219310,10.3,2016,Asia,Diesel,Front-wheel drive,-1.0,16.823554
12,320,5.0,145.0,2783.868974,15.1,2010,Asia,Diesel,All-wheel drive,1.0,16.175820
14,200,6.0,160.0,3582.687368,14.9,2007,Asia,Diesel,All-wheel drive,0.0,11.871091
20,150,3.0,197.0,2231.808142,18.7,2011,Asia,Gasoline,Front-wheel drive,1.0,18.889083
21,160,4.0,133.0,2659.431451,NaN,2016,Asia,Gasoline,Front-wheel drive,-1.0,16.077730

In [29]:
subset = asia_cars[['vehicle_weight', 'model_year']]
subset.head()

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016

In [30]:
subset_7 = subset.head(7)
print(subset_7)

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019

In [31]:
import numpy as np

X = subset_7.to_numpy()
print("X shape:", X.shape)
print(X)

X shape: (7, 2)
[[2714.21930965 2016.        ]
 [2783.86897424 2010.        ]
 [3582.68736772 2007.        ]
 [2231.8081416  2011.        ]
 [2659.43145076 2016.        ]
 [2844.22753389 2014.        ]
 [3761.99403819 2019.        ]]

In [32]:
XTX = X.T.dot(X)
print("XTX:\n", XTX)

XTX:
 [[62248334.33150762 41431216.5073268 ]
 [41431216.5073268  28373339.        ]]

In [33]:
XTX_inv = np.linalg.inv(XTX)
print("XTX Inverse:\n", XTX_inv)

XTX Inverse:
 [[ 5.71497081e-07 -8.34509443e-07]
 [-8.34509443e-07  1.25380877e-06]]

In [34]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])
print("y:", y)

y: [1100 1300  800  900 1000 1100 1200]

In [35]:
w = XTX_inv.dot(X.T).dot(y)
print("w:", w)

w: [0.01386421 0.5049067 ]

In [36]:
result_sum = w.sum()
print("Sum of w:", result_sum)

Sum of w: 0.5187709081074016